name: Docker
on:
  push:
    branches:
      - main
      - develop
      - 'releases/**'
      - 'hotfix/**'
      - 'feature/**'
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ main ]

jobs:
  deploy-project:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

  deploy-docker:
    runs-on: ubuntu-latest
    environment:
      name: docker
      url: "reserva.hotel.com"
    needs:
      - deploy-project
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Login DockerHub Registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./src/main/docker/Dockerfile
          push: true
          tags: leltondev/sistema-hospedagem:v1.1.0,leltondev/sistema-hospedagem:latest